<div class="hero-unit">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= image_tag 'logo.png' %>
    </div>
  </div>
  <br>
  <h1 class="text-center" ><%= t('inicio.lema') %></h1>
  <h3 class="text-center"><%= t('inicio.descripcion') %></h3>
</div>
<div class="content well">
  <div class="row">
    <div class="col-md-4">
      <h2>Hamekoz <em><%= t('inicio.libre.titulo') %></em></h2>
      <%= mail_to "libre@hamekoz.com.ar" %>
      <p><%= t('inicio.libre.texto') %></p>
    </div>
    <div class="col-md-4">
      <h2>Hamekoz <em><%= t('inicio.letra.titulo') %></em></h2>
      <%= mail_to "letra@hamekoz.com.ar" %>
      <p><%= t('inicio.letra.texto') %></p>
   </div>
    <div class="col-md-4">
      <h2>Hamekoz <em><%= t('inicio.juega.titulo') %></em></h2>
      <%= mail_to "juega@hamekoz.com.ar" %>
      <p><%= t('inicio.juega.texto') %></p>
    </div>
    <div class="col-md-4">
      <h2>Hamekoz <em><%= t('inicio.visual.titulo') %></em></h2>
      <%= mail_to "visual@hamekoz.com.ar" %>
      <p><%= t('inicio.visual.texto') %></p>
    </div>
    <div class="col-md-4">
      <h2>Hamekoz <em><%= t('inicio.web.titulo') %></em></h2>
      <%= mail_to "web@hamekoz.com.ar" %>
      <p><%= t('inicio.web.texto') %></p>
    </div>
    <div class="col-md-4">
      <h2>Hamekoz <em><%= t('inicio.app.titulo') %></em></h2>
      <%= mail_to "soft@hamekoz.com.ar" %>
      <p><%= t('inicio.app.texto') %></p>
    </div>
  </div>
</div>
