<% content_for :title do %>About<% end %>
<h3 class="page-header text-center">Nuestro equipo</h3>
<ul class="thumbnails list-unstyled text-center">
  <li class="col-md-3">
    <div class="thumbnail alert-info">
      <%= image_tag 'rodrigo.png', class: "img-circle" %>
      <div class="caption">
        <h4>Claudio Rodrigo <small>Pereyra Diaz</small></h4>
        <h5>CEO Fundador</h5>
        <h6>Ingeniero en Informatica</h6>
        <p></p>
      </div>
    </div>
  </li>
  <li class="col-md-3">
    <div class="thumbnail alert-danger">
      <%= image_tag 'yadia.png', class: "img-circle" %>
      <div class="caption">
        <h4>Isis Yadia <small>Parada Slame</small></h4>
        <h5>Asesora de Contenido</h5>
        <h6>Profesora en Letras</h6>
        <p></p>
      </div>
    </div>
  </li>
  <li class="col-md-3">
    <div class="thumbnail alert-danger">
      <%= image_tag 'lucia.png', class: "img-circle" %>
      <div class="caption">
        <h4>Lucia Belen <small>Pereyra Diaz</small></h4>
        <h5>Asesora Legal</h5>
        <h6>Abogada</h6>
        <p></p>
      </div>
    </div>
  </li>
  <li class="col-md-3">
    <div class="thumbnail alert-info">
      <%= image_tag 'matute.png', class: "img-circle" %>
      <div class="caption">
        <h4>Matias Gastón <small>Bonecco</small></h4>
        <h5>Diseñador - Modelador 3D</h5>
        <h6>Estudiante</h6>
        <p></p>
      </div>
    </div>
  </li>
  <li class="col-md-3">
    <div class="thumbnail alert-info">
      <%= image_tag 'adriel.png', class: "img-circle" %>
      <div class="caption">
        <h4>Adriel Hernan <small>Caramichos</small></h4>
        <h5>Desarrolador C# - Rails</h5>
        <h6>Ingeniero en Informatica</h6>
        <p></p>
      </div>
    </div>
  </li>
  <li class="col-md-3">
    <div class="thumbnail alert-info">
      <%= image_tag 'http://placehold.it/96&text=Foto', class: "img-circle" %>
      <div class="caption">
        <h4>Ezequiel <small>Taranto</small></h4>
        <h5>Desarrollador C#</h5>
        <h6>Estudiante Universitario</h6>
        <p></p>
      </div>
    </div>
  </li>
  <li class="col-md-3">
    <div class="thumbnail alert-info">
      <%= image_tag 'http://placehold.it/96&text=Foto', class: "img-circle" %>
      <div class="caption">
        <h4>Emiliano <small>Canedo</small></h4>
        <h5>Desarrolador C#</h5>
        <h6>Estudiante Terciario</h6>
        <p></p>
      </div>
    </div>
  </li>
  <li class="col-md-3">
    <div class="thumbnail alert-info">
      <%= image_tag 'http://placehold.it/96&text=Foto', class: "img-circle" %>
      <div class="caption">
        <h4>Juan Angel <small>Dinamarca</small></h4>
        <h5>Desarrollador C#</h5>
        <h6>Estudiante Universitario</h6>
        <p></p>
      </div>
    </div>
  </li>
</ul>
