<header>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "Hamekoz", root_path, :class => "brand" %>
      <div class="container nav-collapse">
        <ul class="nav">
<!--          <li>
            <%= link_to(inicio_path) do %>
              <i class="icon-home icon-white"></i>
              <span>Inicio</span>
            <% end %>
          </li>
          <li>
            <%= link_to(presentacion_path) do %>
              <i class="icon-book icon-white"></i>
              <span>Presentacion</span>
            <% end %>
          </li>
          -->
          <li>
            <%= link_to(quienes_somos_path) do %>
              <i class="icon-user icon-white"></i>
              <span>¿Quienes somos?</span>
            <% end %>
          </li>
<!--          <li>
            <%= link_to(acerca_de_path) do %>
              <i class="icon-info-sign icon-white"></i>
              <span>Acerca de..</span>
            <% end %>
          </li>
          -->
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
</header>
