<div class="alert alert-info">
  <%= t('inicio.construccion') %>
</div>
      
<!-- Example row of columns -->
<div class="row">
  <div class="span4">
    <h2>Hamekoz <em><%= t('inicio.libre.titulo') %></em></h2>
     <p><%= t('inicio.libre.texto') %></p>
<!--    <p><a href="#" class="btn">View details »</a></p>-->
  </div>
  <div class="span4">
    <h2>Hamekoz <em><%= t('inicio.letra.titulo') %></em></h2>
     <p><%= t('inicio.letra.texto') %></p>
<!--    <p><a href="#" class="btn">View details »</a></p>-->
 </div>
  <div class="span4">
    <h2>Hamekoz <em><%= t('inicio.juega.titulo') %></em></h2>
    <p><%= t('inicio.juega.texto') %></p>
<!--    <p><a href="#" class="btn">View details »</a></p>-->
  </div>
  <div class="span6">
    <h2>Hamekoz <em><%= t('inicio.visual.titulo') %></em></h2>
    <p><%= t('inicio.visual.texto') %></p>
<!--    <p><a href="#" class="btn">View details »</a></p>-->
  </div>
  <div class="span6">
    <h2>Hamekoz <em><%= t('inicio.web.titulo') %></em></h2>
    <p><%= t('inicio.web.texto') %></p>
<!--    <p><a href="#" class="btn">View details »</a></p>-->
  </div>
</div>

