<ul class="thumbnails">
<% @integrantes.each do |integrante| %>
  <li class="span3">
    <div class="thumbnail <%= integrante.sexo ? 'alert-info': 'alert-error'  %>">
      <%= image_tag integrante.foto, :class => "thumbnail"%>
      <div class="caption">
        <h4><%= integrante.rol %></h4>
        <h5><%= integrante.nombre %></h5>
        <h6><%= integrante.titulo %></h6>
        <p><%= integrante.bios %></p>
      </div>
    </div>
  </li>
<% end %>
</ul>
