<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Hamekoz" %></title>
    <%= csrf_meta_tags %>
  
    <meta name="description" content="Hamekoz">
    <meta name="author" content="Claudio Rodrigo Pereyra Diaz">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <link href="favicon.png" rel="shortcut icon" type="image/png" />
    <link href="apple-touch-icon.png" rel="apple-touch-icon">
    <link href="apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
  </head>
  <body>
    <div id="main" role="main" class="container">
<div class="hero-unit">
  <div class="row">
    <div class="span6 offset2">
      <%= image_tag 'logo.png' %>
    </div>
  </div>
  <br>
  <h1 class="lema"><%= t('inicio.lema') %></h1>
  <h3 class="lema"><%= t('inicio.descripcion') %></h3>
</div>
        <% if notice.present? %>
        <div id="notice" class="alert alert-success fade in" data-alert="alert">
          <a class="close" href="#">×</a>
          <%= notice %>
        </div>
        <% end %>

        <% if alert.present? %>
        <div id="alert" class="alert alert-error fade in" data-alert="alert">
          <a class="close" href="#">×</a>
          <%= alert %>
        </div>
        <% end %>

        <%= yield %>
    </div> <!-- /container -->	

    <%= render 'footer' %>

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
